@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 356px;
	min-height: 461px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 30px 13px 79px 11px;
}

#u175
{
	z-index: 19;
	width: 34px;
	margin-left: 297px;
	position: relative;
}

#u173-17
{
	z-index: 2;
	width: 356px;
	min-height: 413px;
	margin-top: 14px;
	position: relative;
}

#u173-2
{
	font-weight: bold;
}

